
  <div class="row form-group">
    <div class="checkbox" *ngFor="let log of logs">
      <label class="col-md-3">
        <input type="checkbox" (change)="setLogs(log, $event.target.checked)">
        {{log}}
      </label>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Log Name</th>
        <th>Time</th>
        <th>Type</th>
        <th>Message</th>
      </tr>
      </thead>
      <tr *ngFor="let message of messages" class="backgroundAnimated">
        <th scope="row">{{message.name}}</th>
        <td>{{message.time}}</td>
        <td>{{message.type}}</td>
        <td><code>{{message.message}}</code></td>
      </tr>
    </table>
  </div>
